<?xml version='1.0'?>
<web-app xmlns='http://forge.ada-ru.org/matreshka/xml/ns/spikedogdd'>
  <library-name>hello_world</library-name>

  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-tag>SERVLETS.HELLO.HELLO_SERVLET</servlet-tag>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>File</servlet-name>
    <servlet-tag>SERVLETS.FILE.FILE_SERVLET</servlet-tag>
  </servlet>
  <servlet-mapping>
    <servlet-name>File</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>

</web-app>
